@import url('./reset.css');
@import url('./theme.css');
@import url('./typography.css');
@import url('./global.css');

.card {
	position: relative;
}


.card.card-expand .card-body,
.card.card-expand .card-header {
	border-radius: 0;
}


.card:after,
.card:before {
	content: '';
	position: absolute;
}

.card:not(.border-0):before {
	border-bottom: 1px solid var(--theme-surface-2);
	border-top: 1px solid var(--theme-surface-2);
	bottom: 0;
	left: 15px;
	right: 15px;
	top: 0;
}

.card:not(.border-0):after {
	border-left: 1px solid var(--theme-surface-2);
	border-right: 1px solid var(--theme-surface-2);
	bottom: 15px;
	left: 0;
	right: 0;
	top: 15px;
}

.card .card-arrow {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.card .card-arrow-bottom-left,
.card .card-arrow-bottom-right,
.card .card-arrow-top-left,
.card .card-arrow-top-right {
	height: 10px;
	position: absolute;
	width: 10px;
}

.card .card-arrow-bottom-left:before,
.card .card-arrow-bottom-right:before,
.card .card-arrow-top-left:before,
.card .card-arrow-top-right:before {
	background: var(--theme-surface-2);
	content: '';
	height: 8px;
	position: absolute;
	width: 2px;
}

.card .card-arrow-bottom-left:after,
.card .card-arrow-bottom-right:after,
.card .card-arrow-top-left:after,
.card .card-arrow-top-right:after {
	background: var(--theme-surface-2);
	content: '';
	height: 2px;
	position: absolute;
	width: 10px;
}

.card .card-arrow-top-left,
.card .card-arrow-top-right {
	top: 0;
}

.card .card-arrow-top-left:before,
.card .card-arrow-top-right:before {
	top: 2px;
}

.card .card-arrow-top-left:after,
.card .card-arrow-top-right:after {
	top: 0;
}

.card .card-arrow-bottom-left,
.card .card-arrow-bottom-right {
	bottom: 0;
}

.card .card-arrow-bottom-left:before,
.card .card-arrow-bottom-right:before {
	bottom: 2px;
}

.card .card-arrow-bottom-left:after,
.card .card-arrow-bottom-right:after {
	bottom: 0;
}

.card .card-arrow-bottom-left,
.card .card-arrow-bottom-left:after,
.card .card-arrow-bottom-left:before,
.card .card-arrow-top-left,
.card .card-arrow-top-left:after,
.card .card-arrow-top-left:before {
	left: 0;
}

.card .card-arrow-bottom-right,
.card .card-arrow-bottom-right:after,
.card .card-arrow-bottom-right:before,
.card .card-arrow-top-right,
.card .card-arrow-top-right:after,
.card .card-arrow-top-right:before {
	right: 0;
}

@media (max-width: 991.98px) {
	.card-columns {
		-webkit-column-count: 2;
		column-count: 2;
	}
}

@media (max-width: 575.98px) {
	.card-columns {
		-webkit-column-count: 1;
		column-count: 1;
	}
}
