<div id='packages' class='section packages'>
    <div class='container p-6'>
       <div class="packages-header p-3 pb-md-4 mx-auto text-center">
          <h1 class="display-4 fw-normal">Packages</h1>
          <p class="fs-5 text-muted">Compare the best package that fits your needs.</p>
          <div class="card-arrow">
             <div class="card-arrow-top-left"></div>
             <div class="card-arrow-top-right"></div>
          </div>
       </div>
       <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col">
             <div class="card mb-4 rounded-0 shadow-sm border-primary price hvr-back-pulse">
                <div class="card-header py-3 text-white bg-primary border-primary">
                   <h4 class="my-0 fw-normal">Pro Max</h4>
                   <div class="card-arrow">
                      <div class="card-arrow-top-left"></div>
                      <div class="card-arrow-top-right"></div>
                   </div>
                </div>
                <div class="card-body">
                   {/* 
                   <h1 class="card-title pricing-card-title">$29<small class="text-muted fw-light">/mo</small></h1>
                   */}
                   <ul class="list-unstyled mt-3 mb-4">
                      <li>Includes Pro Services plus...</li>
                      <li>30 Products</li>
                      <li>All Financing Options</li>
                      <li>Phone and email support</li>
                      <li>6/mo Supreme Support</li>
                   </ul>
                   <a class="w-100 btn btn-lg btn-primary" href="#/" role="button">Learn More</a>
                   <div class="card-arrow">
                      <div class="card-arrow-top-left"></div>
                      <div class="card-arrow-top-right"></div>
                      <div class="card-arrow-bottom-left"></div>
                      <div class="card-arrow-bottom-right"></div>
                   </div>
                </div>
             </div>
          </div>
          <div class="col">
             <div class="card mb-4 rounded-0 shadow-sm price hvr-back-pulse">
                <div class="card-header py-3">
                   <h4 class="my-0 fw-normal">Pro</h4>
                   <div class="card-arrow">
                      <div class="card-arrow-top-left"></div>
                      <div class="card-arrow-top-right"></div>
                   </div>
                </div>
                <div class="card-body">
                   {/* 
                   <h1 class="card-title pricing-card-title">$15<small class="text-muted fw-light">/mo</small></h1>
                   */}
                   <ul class="list-unstyled mt-3 mb-4">
                      <li>Includes Starter Services plus...</li>
                      <li>15 Products</li>
                      <li>Select Additional Financing Options</li>
                      <li>Priority email support</li>
                      <li>3/mo Supreme Support</li>
                   </ul>
                   <a class="w-100 btn btn-lg btn-primary" href="#/" role="button">Learn More</a>
                   <div class="card-arrow">
                      <div class="card-arrow-top-left"></div>
                      <div class="card-arrow-top-right"></div>
                      <div class="card-arrow-bottom-left"></div>
                      <div class="card-arrow-bottom-right"></div>
                   </div>
                </div>
             </div>
          </div>
          <div class="col">
             <div class="card mb-4 rounded-0 shadow-sm price hvr-back-pulse">
                <div class="card-header py-3 ">
                   <h4 class="my-0 fw-normal">Starter</h4>
                   <div class="card-arrow">
                      <div class="card-arrow-top-left"></div>
                      <div class="card-arrow-top-right"></div>
                   </div>
                </div>
                <div class="card-body">
                   {/* 
                   <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small></h1>
                   */}
                   <ul class="list-unstyled mt-3 mb-4">
                      <li>5 Products</li>
                      <li>2 Financing Options</li>
                      <li>Financing with Affirm, Klarna</li>
                      <li>Email support</li>
                      <li>3/mo Supreme Support</li>
                   </ul>
                   <a class="w-100 btn btn-lg btn-primary" href="#/" role="button">Learn More</a>
                   <div class="card-arrow">
                      <div class="card-arrow-top-left"></div>
                      <div class="card-arrow-top-right"></div>
                      <div class="card-arrow-bottom-left"></div>
                      <div class="card-arrow-bottom-right"></div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class='container p-6'>
       <h2 class="display-6 text-center mb-4">Compare plans</h2>
       <div class="table-responsive">
          <table class="table text-center">
             <thead>
                <tr>
                   <th class="text-start bg-primary ">Online Store</th>
                   <th>Pro Max</th>
                   <th>Pro</th>
                   <th>Starter</th>
                </tr>
             </thead>
             <tbody>
                <tr>
                   <th scope="row" class="text-start">Products/Services</th>
                   <td>30</td>
                   <td>15</td>
                   <td>5</td>
                </tr>
                <tr>
                   <th scope="row" class="text-start">Pages</th>
                   <td>10</td>
                   <td>5</td>
                   <td>5</td>
                </tr>
                <tr>
                   <th scope="row" class="text-start">Financing Partners</th>
                   <td>Affirm, Klarna, PayPal, Afterpay, Sezzle</td>
                   <td>Affirm, Klarna (additional $150 ea)</td>
                   <td>Affirm, Klarna</td>
                </tr>
                <tr>
                   <th scope="row" class="text-start">Online Booking</th>
                   <td>$20/m (no setup fee)</td>
                   <td>$20/m ($80 setup fee)</td>
                   <td>$20/m ($80 setup fee)</td>
                </tr>
                <tr>
                   <th scope="row" class="text-start">Website Hosting</th>
                   <td>$45/m</td>
                   <td>$45/m</td>
                   <td>$45/m</td>
                </tr>
                <tr>
                   <th scope="row" class="text-start">Supreme Support</th>
                   <td>first 6 months included</td>
                   <td>first 3 months included</td>
                   <td>first 3 months included</td>
                </tr>
             </tbody>
             <thead>
                <tr>
                   <th class="text-start bg-primary ">Features and Integration</th>
                   <th>Pro Max</th>
                   <th>Pro</th>
                   <th>Starter</th>
                </tr>
             </thead>
             <tbody>
                <tr>
                   <th scope="row" class="text-start">Social Media Gallery</th>
                   <td>Included</td>
                   <td>$150</td>
                   <td> - </td>
                </tr>
                <tr>
                   <th scope="row" class="text-start">Youtube Video Gallery</th>
                   <td>Included</td>
                   <td>$150</td>
                   <td> - </td>
                </tr>
                <tr>
                   <th scope="row" class="text-start">In-store Financing</th>
                   <td>Included</td>
                   <td>$150</td>
                   <td> - </td>
                </tr>
                <tr>
                   <th scope="row" class="text-start">QR Code Links</th>
                   <td>Included</td>
                   <td>$150</td>
                   <td> - </td>
                </tr>
             </tbody>
             <thead>
                <tr>
                   <th class="text-start bg-primary ">Professional Assets</th>
                   <th>Pro Max</th>
                   <th>Pro</th>
                   <th>Starter</th>
                </tr>
             </thead>
             <tbody>
                <tr>
                   <th scope="row" class="text-start">Logos</th>
                   <td>Included</td>
                   <td>$200</td>
                   <td>$200</td>
                </tr>
                <tr>
                   <th scope="row" class="text-start">Photography </th>
                   <td>Included</td>
                   <td>$200</td>
                   <td>$200</td>
                </tr>
                <tr>
                   <th scope="row" class="text-start">Slogan </th>
                   <td>Included</td>
                   <td>$200</td>
                   <td>$50</td>
                </tr>
             </tbody>
          </table>
       </div>
    </div>
 </div>