---
---

<p class="odyssey-logo hidden md:block">Supreme Solutions USA</p>
<p class="odyssey-logo md:hidden">ss</p>

<style>
	.odyssey-logo {
		width: fit-content;
		margin: 0;
		/* font-family: var(--theme-font-family-serif); */
		font-family: 'SBSkateblade';
		font-size: var(--font-size-md);
		color: inherit;
	}
	.odyssey-logo:hover {
		text-decoration: underline;
		cursor: pointer;
	}
</style>
